*{
    font-family: arial;
}
html,body{
    margin:0;
    box-sizing: border-box;
    background-color: #090909;
    color: white;
}

.main-container{
    margin: 15px 25%;
    border: 1px solid white;
    padding: 20px;
}
.box-container{
    text-align: center;
}
.content p{
    text-align: justify;
}

.content h4{
    font-size: 20px;
}